body{
    background:#f4f7fc;
    font-family:Arial;
}

.navbar{
    background:#0d6efd;
}

.hero{
    padding:50px;
    color:white;
    background:linear-gradient(to right,#141e30,#243b55);
    border-radius:20px;
}

.card{
    border:none;
    border-radius:20px;
}

.profile-card{
    transition:0.3s;
}

.profile-card:hover{
    transform:translateY(-5px);
}
